div.terminaly_outputs {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.terminaly_outputs .terminaly_output {
  outline: none;
  border: none;
  word-break: break-word;
  width: 100%;
}

@keyframes terminaly_new_output {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}