div.terminaly_line {
  padding-top: 10px;
  transition: all ease 0.3s;
  display: flex;
  align-items: flex-start;
  background: var(--tmly-gadrient-black);
}

div.terminaly_line > p {
  background: var(--tmly-gadrient);
  padding: 2px 15px 2px 10px;
  border: none;
  white-space: nowrap;
  clip-path: polygon(0 0, 95% 0%, 100% 50%, 95% 100%, 0 100%, 0% 50%);
}

div.terminaly_line .terminaly_field {
  outline: none;
  border: none;
  overflow-wrap: anywhere;
  background: transparent;
  padding: 2px 10px 12px;
  width: 100%;
  color: white;
}

div.terminaly_line .terminaly_keyword {
  color: var(--terminaly_keyword);
}