div.terminaly_outputs {
  transition: all ease 0.3s;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 8px 15px 8px 0px;
}

.terminaly_outputs .terminaly_output {
  padding-top: 10px;
  outline: none;
  border: none;
  overflow-wrap: anywhere;
  background: transparent;
  width: 100%;
  padding: 7px 20px;
  animation: terminaly_new_output 0.3s ease;
}

@keyframes terminaly_new_output {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}